<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/mdl/material.min.css">
    <script src="/mdl/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style type="text/css">
        .avatar {
            border-radius: 50%;
            border: 4px solid white;
            height: 128px;
            width: 128px;
        }
        .card-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
        .card {
            margin: 10px;
            text-align: center;
        }
        .avatar-wrapper {
            text-align: center;
            position: relative;
            top: -83px;
            margin-bottom: -83px;
            padding: 16px;
        }
        .user-info .mdl-card__title-text {
            display: block;
        }
        .profile-bg {
            background-size: cover;
            height: 200px;
        }
    </style>
</head>
<body>
<div class="mdl-layout mdl-js-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Simple Layout</span>
            <div class="mdl-layout-spacer"></div>
        </div>
    </header>

    <main class="mdl-layout__content">
        <div class="card-container">
            <%
            userDetails.forEach(function(userJson, key) {
                /**
                 * Returns a random integer between min (inclusive) and max (inclusive)
                 * Using Math.round() will give you a non-uniform distribution!
                 */
                function getRandomInt(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }
                userJson.avatar128 = userJson.avatar_template.replace("{size}", "128");
                var backgroundImg;
                if (userJson.card_background) {
                    backgroundImg = rootUrl + userJson.card_background
                } else {
                    backgroundImg = "/images/mountain" + getRandomInt(0, 4) + ".png"
                }
            %>
            <div class="mdl-card mdl-shadow--4dp card">
                <div class="profile-bg" style=" background-image: url('<%= backgroundImg %>')">
                </div>
                <div class="avatar-wrapper">
                    <img class="avatar" src="<%= rootUrl + userJson['avatar128']%>">
                </div>
                <div class="user-info">
                    <h2 class="mdl-card__title-text"><%= userJson['name'] %></h2>
                </div>
                <div class="mdl-card__actions">
                    <a href="(URL or function)">Related Action</a>
                </div>
                <div class="mdl-card__supporting-text">
                    <span><%= userJson['bio'] %></span>
                </div>
            </div>
            <%
            });
            %>
        </div>
    </main>
</div>

</body>
</html>
